server:
  port: 3002
  address: 0.0.0.0

spring:
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: ${EVENTS_URL_DATABASE}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        stmp:
          auth: true
        starttls:
          enable: true
        socketFactory:
          port: 465
          class: javax.net.ssl.SSLSocketFactory
  main:
    allow-circular-references: true
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    url: /swagger.yaml
    path: /swagger
jwt:
  secret: ${JWT_SECRET}
azure:
  storage:
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING}
    container-name: assets
rabbitmq:
  host: host.docker.internal
  port: 5672
  username: guest
  password: guest